<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a item:</h1>

<div align="center">
    <form  action="#"   method="POST" th:object="${item}">
        <p>Price:<input type="number" step="0.01" min="0" th:field="*{price}" /> </p>
        <p> Name: <input type="text" th:field="*{name}" /> </p>
        <p>Pic:<input type="text" th:field="*{pic}" /> </p>
        <p>Type:<input type="text" th:field="*{type}" /></p>
        <p>Description:<input type="text" th:field="*{description}" /></p>
        <p>Gender:<input type="text" th:field="*{gender}" /></p>
        <input type="submit" value="Submit" /></p>
    </form>
</div>
<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>